div{
    background-color: blueviolet;
    margin-right: 0px;
    
}

#logo img{
    width: 145px;
}

#banner img{
    width: 100%;
    height: 450px;
    float: center;
}

.icono img{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    width: 50px!important;
    
}