<div class="row">
    <div id="lista" class="col-xs-12 col-sm-8 col-md-8 col-lg-8"><ul>
        <li><span class="Rotulo">Nombre:</span> Maximiliano Ezequiel Palazón</li>
        <li><span class="Rotulo">Titulo:</span> Full Stack Developer Jr</li>
        <li><span class="Rotulo">Descripción:</span> Profesional, proactividad e imaginación , son las 3 caracteristicas que definen mi trabajo.
            Siempre buscando la innovación para encontrar nuevas formas mas dinamicas y llamativas. </li>
    </ul></div>
    <div id="foto" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img src="../../../assets/Perfil foto.jpg">
</div>
</div>