<div>
    <h1>Habilidades</h1>
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
    <label for="html"><img src="../../../assets/html-trabajado.png"></label>
    <progress id="html" max="100" value="90"> </progress>
    <p>90%</p>
</div>
<div class="col-sm-12 col-md-4 col-lg-4">
    <label for="css"><img src="../../../assets/css-trabajado.png"></label>
    <progress id="css" max="100" value="70"> 70% </progress>
    <p>70%</p>
</div>
<div class="col-sm-12 col-md-4 col-lg-4">
    <label for="java"><img src="../../../assets/java-trabajado.png"></label>
    <progress id="java" max="100" value="45"> </progress>
    <p>45%</p>
</div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
    <label for="html"><img src="../../../assets/leadership-trabajado.png"></label>
    <progress id="html" max="100" value="80"></progress>
    <p>80%</p>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <label for="css"><img src="../../../assets/lecture-trabajado.png"></label>
    <progress id="css" max="100" value="65"> 70% </progress>
    <p>65%</p>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <label for="java"><img src="../../../assets/teamwork-trabajado.png"></label>
    <progress id="java" max="100" value="95"> 45% </progress>
    <p>95%</p>
</div>
</div>
</div>